<body>
<div class="topnav">
  <div class="left-nav-links">
    <a class="nav-link" href="#">HOME</a>
    <a class="nav-link" [routerLink]="['/Showroom']">INSPIRATION</a>
  </div>
  <div class="right-nav-links">
    <a class="nav-link" [routerLink]="['/MyAccount']">MY ACCOUNT</a>
    <a [routerLink]="['/wishList']"><i class="fa fa-star" id="star-color"></i></a>
    <a class="nav-link" href="#">CART</a>
  </div>
</div>
<img class="livingRoomHeader" src="/assets/images/LivingRoom1.png">
<p class="outdoorSeparator">Shop Living Room Collections</p>
<div class="container">
  <div class="side_by_side">
    <div class="overlay">
      Buy
      <br/>
      $299
    </div>
    <a href="https://www.westelm.com/products/7952019/?catalogId=18&cm_re=curalate-_-livingroom&utm_source
    =curalate_reveal&utm_medium=curalate_reveal_6860&crl8_id=2ac80c8d-df38-442c-addb-93ead83ddf22">
      <img id="buy_style" src="/assets/images/Bookshelf_LR_Buy.png">
    </a>
  </div>
  <div class="side_by_side">
    <div class="overlay">
      DIY
      <br/>
      $99
    </div>
    <img class="diy_style" src="/assets/images/DIYBookshelf.jpg">
  </div>
</div>
<div class="container">
  <div class="side_by_side">
    <div class="overlay">
      Buy
      <br/>
      $480
    </div>
    <a href="https://www.westelm.com/products/9967263/?catalogId=18&cm_re=curalate-_-livingroom&utm_source=
    curalate_reveal&utm_medium=curalate_reveal_6860&crl8_id=2ac80c8d-df38-442c-addb-93ead83ddf22">
      <img class="buy_style" src="/assets/images/Buy_Coffee_Table.png">
    </a>
  </div>
  <div class="side_by_side">
    <div class="overlay">
      DIY
      <br/>
      $220
    </div>
    <img class="diy_style" src="/assets/images/DIY_Coffee_table.jpg">
  </div>
</div>
<br/>
<footer id="homepage-footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5>Our Company</h5>
        <br/>
        About Us
        <br/>
        Careers
        <br/>
        <a class="visit-style" [routerLink]="['/VisitUs']"> Visit Us</a>
      </div>
      <div class="col">
        <h5>Customer Service</h5>
        <br/>
        Sign Up for Email
        <br/>
        Seller Information
        <br/>
        FAQs
      </div>
    </div>
  </div>
</footer>
</body>
