<body>
<div class="topnav">
  <div class="left-nav-links">
    <a class="nav-link" href="#">HOME</a>
    <a class="nav-link" [routerLink]="['/Showroom']">INSPIRATION</a>
  </div>
  <div class="right-nav-links">
    <a class="nav-link" [routerLink]="['/MyAccount']">MY ACCOUNT</a>
    <a [routerLink]="['/wishList']"><i class="fa fa-star" id="star-color"></i></a>
    <a class="nav-link" href="#">CART</a>
  </div>
</div>
<img class="livingRoomHeader" src="/assets/images/LivingRoom1.png">
<p class="outdoorSeparator">Shop Living Room Collections</p>
<div class="container">
  <div class="row">
    <div class="column">
      <div class="overlay">
        Buy
        <br/>
        $119
      </div>
      <img class="room-images" src="/assets/images/BookShelf_LR_Buy.png">
    </div>
  </div>
    <div class="column">
      <div class="overlay">
        DIY
        <br/>
        $69
      </div>
      <img class="room-images" src="/assets/images/DIYBookshelf_LR.jpg">
  </div>
</div>
<br/>
<footer id="homepage-footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5>Our Company</h5>
        <br/>
        About Us
        <br/>
        Careers
        <br/>
        <a class="visit-style" [routerLink]="['/VisitUs']"> Visit Us</a>
      </div>
      <div class="col">
        <h5>Customer Service</h5>
        <br/>
        Sign Up for Email
        <br/>
        Seller Information
        <br/>
        FAQs
      </div>
    </div>
  </div>
</footer>
</body>
