<body>
<div class="topnav">
  <div class="left-nav-links">
    <a class="nav-link" href="#">HOME</a>
    <a class="nav-link" [routerLink]="['/Showroom']">INSPIRATION</a>
  </div>
  <div class="right-nav-links">
    <a class="nav-link" [routerLink]="['/MyAccount']">MY ACCOUNT</a>
    <a [routerLink]="['/wishList']"><i class="fa fa-star" id="star-color"></i></a>
    <a class="nav-link" href="#">CART</a>
  </div>
</div>
<img class="livingRoomHeader" src="/assets/images/Patio.jpg">
<p class="outdoorSeparator">Shop Outdoor Collections</p>
<div class="container">
  <div class="side_by_side">
    <div class="overlay">
      Buy
      <br/>
      $279
    </div>
    <a href="https://www.amazon.com/Meelano-201-DRK-Outdoor-Chaise-Lounge/dp/B01CAV4QPG">
      <img class="buy_style" src="/assets/images/Buy_Lounger.jpg">
    </a>
  </div>
  <div class="side_by_side">
    <div class="overlay">
      DIY
      <br/>
      $85
    </div>
    <img class="diy_style" src="/assets/images/DIY_Lounger.png">
  </div>
</div>
<div class="container">
  <div class="side_by_side">
    <div class="overlay">
      Buy
      <br/>
      $9
    </div>
    <a href="https://www.amazon.com/Andaz-Press-Lanterns-Decorations-Christmas/dp/B074SH6QZY?th=1">
      <img class="buy_style" src="/assets/images/Buy_PaperLanterns.jpg">
    </a>
  </div>
  <div class="side_by_side">
    <div class="overlay">
      DIY
      <br/>
      $25
    </div>
    <img class="diy_style" src="/assets/images/DIY_PaperLanterns.jpg">
  </div>
</div>
<br/>
<footer id="homepage-footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5>Our Company</h5>
        <br/>
        About Us
        <br/>
        Careers
        <br/>
        <a class="visit-style" [routerLink]="['/VisitUs']"> Visit Us</a>
      </div>
      <div class="col">
        <h5>Customer Service</h5>
        <br/>
        Sign Up for Email
        <br/>
        Seller Information
        <br/>
        FAQs
      </div>
    </div>
  </div>
</footer>
</body>
