
<body>
<div class="topnav">
  <div class="left-nav-links">
    <a class="nav-link" href="#">HOME</a>
    <a class="nav-link" [routerLink]="['/Showroom']">INSPIRATION</a>
  </div>
  <div class="right-nav-links">
    <a class="nav-link" [routerLink]="['/MyAccount']">MY ACCOUNT</a>
    <a [routerLink]="['/wishList']"><i class="fa fa-star" id="star-color"></i></a>
    <a class="nav-link" href="#">CART</a>
  </div>
</div>


<div class="side-wrapper">
  <!--Side Nav Bar-->
  <div class="sidenav">
    <p class="navbar-brand">Explore Your Account</p>
    <br/>
    <hr>
    <ul class="nav navbar-nav">
      <li><a id="optima-link-font" routerLink="/wishList">WishList</a></li>
      <li><a id="optima-link-font2" href="#" >Payment Methods</a></li>
      <li><a id="optima-link-font3" href="#">Purchase History</a></li>
      <li><a id="optima-link-font4" href="#">Profile</a></li>
      <li *ngIf="!user.isSeller"><a id="optima-link-font5"(click)="updateAsSeller()">Become a Seller</a></li>
      <li *ngIf="user.isSeller"><a id="optima-link-font6" href="#">Instructables</a></li>
    </ul>
  </div>
  <!--end of side nav bar-->
  <div class="account-body">
<p id="account-welcome">
  Welcome to your account! You may update your information below or use the menu on the left to
  continue to navigate the site.
</p>
  <br/>
  <label>Username</label>
  <input [(ngModel)]="user['username']" type="text" class="form-control" id="username" placeholder="Alice"/>
  <br/>
  <label>Password</label>
  <input [(ngModel)]="user['password']" type="password" class="form-control" id="password" placeholder="password"/>
  <br/>
  <label>First Name</label>
  <input [(ngModel)]="user['firstName']" class="form-control" id="firstName" placeholder="First Name"/>
  <br/>
  <label>Last Name</label>
  <input [(ngModel)]="user['lastName']" class="form-control" id="lastName" placeholder="Last Name"/>
  <br/>
  <label>Email</label>
  <input [(ngModel)]="user['email']" class="form-control" id="email" placeholder="Email"/>
  <br/>
  <!--wrapped in a reload to refresh profile with updated information-->
  <button class="btn btn-dark btn-sm" (click)="refresh()">
    <a class="btn btn-dark btn-lg" id="update-button" (click)="update()">Update</a>
  </button>
    <br/>
  <!--<a class="btn btn-success btn-block" id="update-button" (click)="update()">Update</a>-->
    <button class="btn btn-dark btn-sm">
      <a class="btn btn-dark btn-lg" id="logout-button" (click)="logout()">Logout</a>
    </button>
</div>
</div>
<footer id="homepage-footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5>Our Company</h5>
        <br/>
        About Us
        <br/>
        Careers
        <br/>
        <a class="visit-style" [routerLink]="['/VisitUs']"> Visit Us</a>
      </div>
      <div class="col">
        <h5>Customer Service</h5>
        <br/>
        Sign Up for Email
        <br/>
        Seller Information
        <br/>
        FAQs
      </div>
    </div>
  </div>
</footer>
</body>

<!--<footer id="homepage-footer">
  <div class="container-fluid">
    <img class="footer-img" src="/assets/WebDevFooter.png">
  </div>
</footer>-->
