.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #3E9A4A;
}
.nav {
  float: right;
  margin: 0;
  padding-right: 42px;
}
.nav ul li {
  display: inline-block;
  padding: 16px 32px;
  font-family: Optima, sans-serif;
  font-size: 10px;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card-img-top2 {
  height: 185px;
  width: 237px;

}
.navbar-fixed-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding-top: 250px;
}

.carousel-image {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 600px;
}
#black-login {
  color: darkgray;
}
#homepage-footer {
  position: absolute;
  height: 150px;
  width: 110%;
  margin-top: 50px;
  background-image: url('/assets/images/HomepageBackground2.jpg');
}
#account-link {
  color: black;
}
.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}
.sidenav {
  margin-top: 100px;
  margin-bottom: 150px;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.side-wrapper {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  margin-top: 50px;
  margin-bottom: 150px;
}
#star-color {
  color: black;
}


.topnav {
  overflow: hidden;
  background-color: #75B277;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {

  color: #F2BC51;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }

  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
.left-nav-links {
  float: left;
}
.right-nav-links {
  float: right;
}
.home-title {
  margin-top: 50px;
}
.navbar-brand {
  font-family: Optima, sans-serif;
  font-size: 19px;
}
.account-body {
  margin-left: 100px;
  margin-top: 100px;
  margin-right: 100px;
}
#optima-link-font {
  font-family: Optima, sans-serif;
  font-size: 16px;
}
#optima-link-font2 {
  font-family: Optima, sans-serif;
  font-size: 16px;
}
#optima-link-font3 {
  font-family: Optima, sans-serif;
  font-size: 16px;
}
#optima-link-font4 {
  font-family: Optima, sans-serif;
  font-size: 16px;
}
#optima-link-font5 {
  font-family: Optima, sans-serif;
  font-size: 16px;
}
#optima-link-font6 {
  font-family: Optima, sans-serif;
  font-size: 16px;
}
label {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 22px;
}
#account-welcome {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
}
#update-button {
  color: white;
  font-size: 15px;
}
#logout-button {
  color: white;
  font-size: 15px;
}
.visit-style {
  text-decoration: none;
  color: #36332A;
}
