<nav class="navbar-fixed-top">
  <div class="container">
    <div class="navbar-text float-left">
      <ul class="nav">
        <li> <a class="nav-link" href="#">HOME</a> </li>
        <li> <a class="nav-link" [routerLink]="['/Showroom']">SHOWROOMS</a> </li>
      </ul>
    </div>
    <div class="navbar-text float-right">
      <ul class="nav">
        <li> <a class="nav-link" [routerLink]="['/MyAccount']">MY ACCOUNT</a> </li>
        <li> <a routerLink="/wishList"><i class="fa fa-star" id="star-color"></i></a> </li>
        <li> <a class="nav-link" href="#">CART</a> </li>
      </ul>
    </div>
  </div>
</nav>
<body>
<!--Side Nav Bar-->
<div class="sidenav">
  <a class="navbar-brand" href="#">MY ACCOUNT</a>
  <ul class="nav navbar-nav">
    <li><a routerLink="/wishList">WishList</a></li>
    <li><a href="#">Payment Methods</a></li>
    <li><a href="#">Order History</a></li>
    <li><a href="#">Profile</a></li>
    <li *ngIf="!user.isSeller"><a (click)="updateAsSeller()">Become a Seller</a></li>
    <li *ngIf="user.isSeller"><a href="#">Instructables Posted</a></li>
  </ul>
</div>
<!--end of side nav bar-->
<div class="side-wrapper">

<p>
  MY ACCOUNT
</p>
<p>
  Welcome to your account! You may update your information below or use the menu on the left to
  continue to navigate the site.
</p>
<div class="container">
  <br/>
  <label>Username</label>
  <input [(ngModel)]="user['username']" type="text" class="form-control" id="username" placeholder="Alice"/>
  <br/>
  <label>Password</label>
  <input [(ngModel)]="user['password']" type="password" class="form-control" id="password" placeholder="password"/>
  <br/>
  <label>First Name</label>
  <input [(ngModel)]="user['firstName']" class="form-control" id="firstName" placeholder="First Name"/>
  <br/>
  <label>Last Name</label>
  <input [(ngModel)]="user['lastName']" class="form-control" id="lastName" placeholder="Last Name"/>
  <br/>
  <label>Email</label>
  <input [(ngModel)]="user['email']" class="form-control" id="email" placeholder="Email"/>
  <br/>
  <!--wrapped in a reload to refresh profile with updated information-->
  <button (click)="refresh()"><a class="btn btn-success btn-block" id="update-button" (click)="update()">
    Update</a></button>
  <!--<a class="btn btn-success btn-block" id="update-button" (click)="update()">Update</a>-->
  <a class="btn btn-danger btn-block" id="logout-button" (click)="logout()">Logout</a>




</div>
</div>
</body>
<br/>
<br/>
<br/>
<br/><br/>
<br/>
<br/>
<br/>
<br/>
<!--<footer id="homepage-footer">
  <div class="container-fluid">
    <img class="footer-img" src="/assets/WebDevFooter.png">
  </div>
</footer>-->
