<!--<nav class="navbar-fixed-top">
    <div class="navbar-text float-left">
      <ul class="nav">
        <li> <a class="nav-link" href="#">HOME</a> </li>
        <li> <a class="nav-link" [routerLink]="['/Showroom']">INSPIRATION</a> </li>
      </ul>
    </div>
    <div class="navbar-text float-right">
      <ul class="nav">
        <li> <a class="nav-link" [routerLink]="['/MyAccount']">MY ACCOUNT</a> </li>
        <li> <a routerLink="/wishList"><i class="fa fa-star" id="star-color"></i></a> </li>
        <li> <i class="fa fa-search" id="search-color"></i></li>
        <li> <a class="nav-link" href="#">CART</a> </li>
      </ul>
    </div>
</nav>-->
<body>
<div class="topnav">
  <div class="left-nav-links">
  <a class="nav-link" href="#">HOME</a>
  <a class="nav-link" [routerLink]="['/Showroom']">INSPIRATION</a>
  </div>
  <div class="right-nav-links">
  <a class="nav-link" [routerLink]="['/MyAccount']">MY ACCOUNT</a>
  <a [routerLink]="['/wishList']"><i class="fa fa-star" id="star-color"></i></a>
  <a class="nav-link" href="#">CART</a>
  </div>
</div>
<div class="home-title">
  <img class="title" src="/assets/images/WebDevTitle(small).png">
</div>
<div>
  <img class="carousel-image" src="/assets/images/LivingroomCover.jpg">
</div>
<div class="container">
  <div class="row">
    <div class="col">
    <div class="card" style="width: 27rem;">
      <img class="card-img-top1" src="/assets/images/DIY_Article2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Rustic Tablet Holder</h5>
        <p class="card-text">What better way to ensure your recipes are always visible than with this
          rustic tablet holder. </p>
        <a href="#" class="btn btn-primary">Instructions</a>
      </div>
    </div>
    </div>
    <div class="col">
    <div class="card" style="width: 27rem;">
      <img class="card-img-top2" src="/assets/images/HomepageCard2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lighting Kit</h5>
        <p class="card-text">Anyone can create their very own light kit with this simple DIY video.
        Find out how with this video.</p>
        <a href="#" class="btn btn-primary">Video</a>
      </div>
    </div>
    </div>
    <div class="col">
    <div class="card" style="width: 27rem;">
      <img class="card-img-top3" src="/assets/images/DIY_Article1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Unique Wire Coffee Table</h5>
        <p class="card-text">Turn simple wire baskets into a unique coffee table by following these
          simple DIY instructions.</p>
        <a href="#" class="btn btn-primary">Instructions</a>
      </div>
    </div>
  </div>
  </div>
</div>
<footer id="homepage-footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5>Our Company</h5>
        <br/>
        About Us
        <br/>
        Careers
        <br/>
        <a class="visit-style" [routerLink]="['/VisitUs']"> Visit Us</a>
      </div>
      <div class="col">
        <h5>Customer Service</h5>
        <br/>
        Sign Up for Email
        <br/>
        Seller Information
        <br/>
        FAQs
      </div>
    </div>
  </div>
</footer>

<!--<nav class="navbar-fixed-bottom">
  <div class="container-fluid">
    <img class="footer-img" src="/assets/WebDevFooter.png">
  </div>
  https://www.youtube.com/watch?v=qSTGnl7HHao
</nav>-->
</body>

<!--TO DO: Add carousel of images for room designs, add two articles underneath carousel and one quick youtube vid, add
about to footer, contact us to footer, faq to footer, add icons to nav bar-->

