<nav class="navbar-fixed-top">
  <div class="container">
    <div class="navbar-text float-left">
      <ul class="nav">
        <li> <a class="nav-link" href="#">HOME</a> </li>
        <li> <a class="nav-link" href="#">SHOWROOMS</a> </li>
      </ul>
    </div>
    <div class="navbar-text float-right">
      <ul class="nav">
        <li> <a class="nav-link" [routerLink]="['/login']">MY ACCOUNT</a> </li>
        <li> <a class="nav-link" href="#">CART</a> </li>
      </ul>
    </div>
  </div>
</nav>
<body>
<div class="home-title">
  <img class="title" src="/assets/WebDevTitle(small).png">
</div>
<div>
  <img class="carousel-image" src="/assets/LivingroomCover.jpg">
</div>
<div class="container">
  <div class="row">
    <div class="col">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="/assets/Placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </div>
    <div class="col">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top2" src="/assets/HomepageCard2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </div>
    <div class="col">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="/assets/Placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  </div>

</div>
<footer id="homepage-footer">
  <!--<div class="container-fluid">
    <img class="footer-img" src="/assets/WebDevFooter.png">
  </div>-->
</footer>

<!--<nav class="navbar-fixed-bottom">
  <div class="container-fluid">
    <img class="footer-img" src="/assets/WebDevFooter.png">
  </div>
  https://www.youtube.com/watch?v=qSTGnl7HHao
</nav>-->
</body>

<!--TO DO: Add carousel of images for room designs, add two articles underneath carousel and one quick youtube vid, add
about to footer, contact us to footer, faq to footer, add icons to nav bar-->

