<body>
<div class="topnav">
  <div class="left-nav-links">
    <a class="nav-link" href="#">HOME</a>
    <a class="nav-link" [routerLink]="['/Showroom']">INSPIRATION</a>
  </div>
  <div class="right-nav-links">
    <a class="nav-link" [routerLink]="['/MyAccount']">MY ACCOUNT</a>
    <a [routerLink]="['/wishList']"><i class="fa fa-star" id="star-color"></i></a>
    <a class="nav-link" href="#">CART</a>
  </div>
</div>
<div class="row">
  <div class="container2">
    <div class="col-12 col-md-8">
      <img class="img-fluid" src="/assets/images/LivingRoomShowroom.jpg">
    </div>
    <div class="text-block">
      <a [routerLink]="['/LivingRoom']">
        <h2>Living Rooms</h2>
      </a>
    </div>
  </div>
  <div class="container2">
    <div class="col-6">
      <img class="img-fluid" src="/assets/images/BathroomShowroom.jpg">
    </div>
    <div class="text-block">
      <a [routerLink]="['/Bathroom']">
        <h2>Bathrooms</h2>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <img class="img-fluid" src="/assets/images/BedroomShowroom.jpg">
  </div>
  <div class="text-block">
    <a [routerLink]="['/Bedroom']">
      <h2>Bedrooms</h2>
    </a>
  </div>
  <div class="col-12 col-md-8">
    <img class="img-fluid" src="/assets/images/OutdoorShowroom.png">
  </div>
  <div class="text-block">
    <a [routerLink]="['/Outdoor']">
      <h2>Outdoor Spaces</h2>
    </a>
  </div>
</div>
</body>
