<body>
<div class="topnav">
  <div class="left-nav-links">
    <a class="nav-link" href="#">HOME</a>
    <a class="nav-link" [routerLink]="['/Showroom']">INSPIRATION</a>
  </div>
  <div class="right-nav-links">
    <a class="nav-link" [routerLink]="['/MyAccount']">MY ACCOUNT</a>
    <a [routerLink]="['/wishList']"><i class="fa fa-star" id="star-color"></i></a>
    <a class="nav-link" href="#">CART</a>
  </div>
</div>
<img class="livingRoomHeader" src="/assets/images/Bedroom_Inspiration.png">
<p class="outdoorSeparator">Shop Bedroom Collections</p>
<div class="container">
  <div class="side_by_side">
    <div class="overlay">
      Buy
      <br/>
      $29
    </div>
    <a href="https://www.westelm.com/products/9519139/?catalogId=14&sku=9519139&cm_re=curalate-_-livingroom&utm
    _source=curalate_reveal&utm_medium=curalate_reveal_6860&crl8_id=d1326c34-47c3-406f-b5b6-2851ceb1952b">
      <img class="buy_style" src="/assets/images/Bedroom_Pillow.png">
    </a>
  </div>
  <div class="side_by_side">
    <div class="overlay">
      DIY
      <br/>
      $35
    </div>
    <img class="diy_style" src="/assets/images/DIY_Pillow.png">
  </div>
</div>
<div class="container">
  <div class="side_by_side">
    <div class="overlay">
      Buy
      <br/>
      $162
    </div>
    <a href="https://www.homedepot.com/p/Silverwood-Furniture-Reimagined-Marlaina-Round-
    Gold-Hanging-Chain-Wall-Mirror-CPDM1050/308723661">
      <img class="buy_style" src="/assets/images/Buy_Mirror.jpg">
    </a>
  </div>
  <div class="side_by_side">
    <div class="overlay">
      DIY
      <br/>
      $59
    </div>
    <img class="diy_style" src="/assets/images/DIY_Mirror.png">
  </div>
</div>
<br/>
<footer id="homepage-footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5>Our Company</h5>
        <br/>
        About Us
        <br/>
        Careers
        <br/>
        <a class="visit-style" [routerLink]="['/VisitUs']"> Visit Us</a>
      </div>
      <div class="col">
        <h5>Customer Service</h5>
        <br/>
        Sign Up for Email
        <br/>
        Seller Information
        <br/>
        FAQs
      </div>
    </div>
  </div>
</footer>
</body>
