<body>
<div class="topnav">
  <div class="left-nav-links">
    <a class="nav-link" href="#">HOME</a>
    <a class="nav-link" [routerLink]="['/Showroom']">INSPIRATION</a>
  </div>
  <div class="right-nav-links">
    <a class="nav-link" [routerLink]="['/MyAccount']">MY ACCOUNT</a>
    <a [routerLink]="['/wishList']"><i class="fa fa-star" id="star-color"></i></a>
    <a class="nav-link" href="#">CART</a>
  </div>
</div>
<p class="register-header">
  Register
</p>
<div class="container">
  <br/>
  <div class="row">
    <div class="col-sm">
      <div *ngIf="errorFlag" class="alert alert-danger"> {{errorMsg}}</div>
      <form (ngSubmit) = "register()" #form="ngForm">
        <label>Username</label>
        <input type="text" class="form-control" required [(ngModel)]="user.username" name="username" #username="ngModel"
           id="usernameInput" placeholder="username">
        <span class="help-block" *ngIf="!username.valid && username.touched"> Username is required. </span>
        <br/>
        <label>Password</label>
        <input type="password" class="form-control" required ngModel #password="ngModel" name="password"
           [(ngModel)]="user.password" id="passwordInput" placeholder="password">
        <span class="help-block" *ngIf="!password.valid && password.touched"> Password is required. </span>
        <br/>
        <label>Verify Password</label>
        <input type="password" class="form-control" required [(ngModel)]="verifyPassword" name="verifyPassword"
           id="passwordInput2" placeholder="verify password">
        <br/>
        <a class="btn btn-dark btn-lg" id="register-button" (click)="register()">Register</a>
        <br/>
        <a class="btn btn-dark btn-lg" id="cancel-button" [routerLink]="['/login']">Cancel</a>
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
<footer id="homepage-footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5>Our Company</h5>
        <br/>
        About Us
        <br/>
        Careers
        <br/>
        <a class="visit-style" [routerLink]="['/VisitUs']"> Visit Us</a>
      </div>
      <div class="col">
        <h5>Customer Service</h5>
        <br/>
        Sign Up for Email
        <br/>
        Seller Information
        <br/>
        FAQs
      </div>
    </div>
  </div>
</footer>
</body>

