<body>
<div class="topnav">
  <div class="left-nav-links">
    <a class="nav-link" href="#">HOME</a>
    <a class="nav-link" [routerLink]="['/Showroom']">INSPIRATION</a>
  </div>
  <div class="right-nav-links">
    <a class="nav-link" [routerLink]="['/MyAccount']">MY ACCOUNT</a>
    <a [routerLink]="['/wishList']"><i class="fa fa-star" id="star-color"></i></a>
    <a class="nav-link" href="#">CART</a>
  </div>
</div>
<p class="account-header">
  My Account
</p>
<div class="container">
  <br/>
  <div class="row">
    <div class="col">
      <form (ngSubmit) = "login()" #form="ngForm">
        <p> Sign In Using Your Email</p>
        <br/>
        <label>Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username"
           ngModel required #username="ngModel"/>
        <span class="help-block" *ngIf="!username.valid && username.touched"> Username is required. </span>
        <br/>
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password"
             ngModel required #password="ngModel"/>
        <span class="help-block" *ngIf="!password.valid && password.touched"> Password is required. </span>
        <br/>
        <button class="btn btn-dark btn-lg" type="submit">Log In</button>
        <br/>
        <a href="/facebook/login" class="btn btn-dark btn-lg"> <span class="fa fa-facebook"></span> Facebook </a>
      </form>
    </div>
    <div class="col">
      <p> Don't Have An Account? </p>
      <br/>
      <p> Create an account with us and you will have access to special deals, to create a WishList,
        to add items to your cart, and to save your payment information.
      </p>
      <a routerLink="/register" class="btn btn-dark btn-lg">Create an account</a>
    </div>
  </div>
</div>
<footer id="homepage-footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5>Our Company</h5>
        <br/>
        About Us
        <br/>
        Careers
        <br/>
        <a class="visit-style" [routerLink]="['/VisitUs']"> Visit Us</a>
      </div>
      <div class="col">
        <h5>Customer Service</h5>
        <br/>
        Sign Up for Email
        <br/>
        Seller Information
        <br/>
        FAQs
      </div>
    </div>
  </div>
</footer>
</body>

